.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 30rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
.authentication-form-header{
  display: flex;
  justify-content: space-between;
}

.authentication-conditions{
  padding: 10px;
}
.authentication-password{
  display: flex;
  justify-content: space-evenly;
}


